## Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"
**Задание 1**

In [1]:
my_string='test'
my_string[1:3]

'es'

In [2]:
my_string='testing'
my_string[3]

't'

**Задание 2**

In [4]:
numbers=[1,4,6,0]
sum(numbers)

11

In [5]:
numbers=[0]
sum(numbers)

0

**Задание 3**

In [8]:
boys_list=['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls_list=['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
sorted(boys_list)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [9]:
sorted(girls_list)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [45]:
perfet_couples=[['Alex','Emma'],['Arthur','Kate'],['John','Kira'],['Peter','Liza'],['Richard','Trisha']]
print(perfet_couples[0])
print(perfet_couples[1])
print(perfet_couples[2])
print(perfet_couples[3])
print(perfet_couples[4])

['Alex', 'Emma']
['Arthur', 'Kate']
['John', 'Kira']
['Peter', 'Liza']
['Richard', 'Trisha']

In [47]:
boys_list = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls_list = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

sorted(girls_list)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [48]:
sorted(boys_list)

['Alex', 'Arthur', 'John', 'Michael', 'Peter', 'Richard']

In [ ]:
#не поняла как делать.

**Задание 4**

In [1]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
temperature_thailand =  [75.2, 77, 78.8, 73.4, 68, 75.2, 77]
sum (temperature_thailand)

524.5999999999999

In [2]:
len(temperature_thailand)

7

In [9]:
print(524.6/7)

74.94285714285715

In [23]:
print((74.9-32)/1.8)

23.833333333333336